  
div.jumbotron {
    background-image: url(https://i.imgur.com/5Ecx3Kp.jpg)
    
    }
    
    .white{
        color:black;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        background-color: #B03938;
        padding-left: 15px;
        padding-right: 15px;
    }